//
//  Development.xcconfig
//  Runner
//
//  Created by pham.xuan.nam on 10/4/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-development.xcconfig"
#include "Generated.xcconfig"

FLUTTER_FLAVOR=development
FLUTTER_TARGET=$PROJECT_DIR/../lib/main.dart
PRODUCT_BUNDLE_IDENTIFIER=bundle_id
FIREBASE_DIR=$PROJECT_DIR/$PROJECT_NAME/Resources/Firebase/Development
APP_NAME=[dev] ecommerce
